body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f1f1f1;
}
#container {
  width: 315px;
  margin: 50px auto;
  background-color: #fff;
  padding: 16px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}
#main {
  width: 315px;
  margin: 0;
  height: 240px;
  border-radius: 4px;
  
  font-size: 180px;
  text-align: center;
  line-height: 240px;
}
#main p {
  font-size: 18px;
  line-height: 48px;
}
#main p span {
  font-size: 12px;
}
#question {
  font-size: 24px;
  margin: 8px auto 8px 16px;
}
#choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#choices div {
  width: 28%;
  height: 36px;
  margin-bottom: 10px;
  border: 1px solid #0f0f0f;
  border-radius: 4px;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  background-color: #d0d0d0;
}

#result {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px;
  transform: translateY(-500px);
  transition: tranform 0.5s;
}
#coment {
  font-size: 24px;
}
#result.show {
  transform: none;
}
.home {
  position: absolute;
  top: -42px;
  right: 4px;
  background-color: #e4e4e4;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  vertical-align: bottom;
}
.home a {
  display: block;
  text-decoration: none;
  color: #0a0a0a;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
}
.home span {
  line-height: 32px;
}
.text {
  position: absolute;
  top: 8px;
  right: -12px;
  font-size: 12px;
  width: 80px;
  margin: 0;
  opacity: 0;
  pointer-events: none; 
}
.home:hover .text {
  opacity: 1;
}
.home:hover span {
  opacity: 0.3;
}
.restart {
  position: absolute;
  top: -42px;
  left: 4px;
  background-color: #e4e4e4;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  vertical-align: bottom;
}
.restart a {
  display: block;
  text-decoration: none;
  color: #0a0a0a;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
}
.restart span {
  line-height: 32px;
}
.replay {
  position: absolute;
  top: 8px;
  left: -4px;
  font-size: 12px;
  width: 80px;
  margin: 0;
  opacity: 0;
  pointer-events: none; 
}
.restart:hover .replay {
  opacity: 1;
}
.restart:hover span {
  opacity: 0.3;
}
